##1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
## ANS
test1 = 'This is a test of the emergency text system'
outfile = open('test.txt','wt')
outfile.write(test1)

43

In [2]:
outfile.close()

##2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [7]:
## ANS 
with open('test.txt','rt') as infile:
  test2 = infile.read()

In [8]:
test2

'This is a test of the emergency text system'

In [9]:
test1

'This is a test of the emergency text system'

In [10]:
test2==test1

True

##3. Create a CSV file called books.csv by using these lines: 
###title,author,year
###The Weirdstone of Brisingamen,Alan Garner,1960
###Perdido Street Station,China Miéville,2000
###Thud!,Terry Pratchett,2005
###The Spellman Files,Lisa Lutz,2007
###Small Gods,Terry Pratchett,1992

In [11]:
## ANS
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [12]:
with open('books.csv','wt') as outfile:
  outfile.write(text)

##4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [13]:
## ANS
import sqlite3

In [14]:
db = sqlite3.connect('books.db')

In [15]:
curs = db.cursor()

In [16]:
curs.execute('''create table book (title text, author text, year int)''')

In [17]:
db.commit()

##5. Read books.csv and insert its data into the book table.

In [18]:
## ANS
import csv
import sqlite3

In [19]:
data = 'insert into book values(?, ?, ?)'

In [21]:
with open('books.csv', 'rt') as infile:
  books = csv.DictReader(infile)
  for book in books:
    curs.execute(data, (book['title'], book['author'], book['year']))

In [22]:
db.commit()

##6. Select and print the title column from the book table in alphabetical order.

In [23]:
## ANS
sql = 'select title from book order by title asc'

In [24]:
for row in db.execute(sql):
  print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [25]:
for row in db.execute(sql):
  print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

##7. From the book table, select and print all columns in the order of publication.

In [26]:
## ANS
for row in db.execute('select * from book order by year'):
  print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [28]:
for row in db.execute('select * from book order by year'):
  print(*row, sep=',')

The Weirdstone of Brisingamen,Alan Garner,1960
Small Gods,Terry Pratchett,1992
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007

##8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [36]:
## ANS
import sqlalchemy

In [37]:
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [38]:
sql = 'select title from book order by title asc'

In [39]:
rows = conn.execute(sql)

In [40]:
for i in rows:
  print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

##9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [42]:
## ANS
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis
  Downloading redis-4.5.1-py3-none-any.whl (238 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.5/238.5 KB 17.7 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.8/dist-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.5.1

In [45]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

##10. Increment the count field of test and print it.

In [46]:
## ANS
conn.hincrby('test','count', 3)