## Q-1 Write a function that stutters a word as if someone is struggling to read it. The first two letters are repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.
###Examples
###stutter(&quot;incredible&quot;) ➞ &quot;in... in... incredible?&quot;
###stutter(&quot;enthusiastic&quot;) ➞ &quot;en... en... enthusiastic?&quot;
###stutter(&quot;outstanding&quot;) ➞ &quot;ou... ou... outstanding?&quot;
###Hint :- Assume all input is in lower case and at least two characters long.

In [3]:
## ANS
def stutter(string):
  s = string.lower()
  if len(string)>2:
    print(string[0:2]+"... "+string[0:2]+"... "+string+"?")
stutter("incredible")
stutter("enthusiastic")
stutter("outstanding")

in... in... incredible?
en... en... enthusiastic?
ou... ou... outstanding?

## Q-2 Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place.
###Examples
###radians_to_degrees(1) ➞ 57.3
###radians_to_degrees(20) ➞ 1145.9
###radians_to_degrees(50) ➞ 2864.8

In [6]:
## ANS
import math
def angle_in_radians(angle):
  degree = angle*180/math.pi
  return round(degree,1)
a = angle_in_radians(2)
print(f"Angle in degrees is: {a}")

Angle in degrees is: 114.6

## Q-3 In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number.
##Given a non-negative integer num, implement a function that returns True if num is a Curzon number, or False otherwise.
###Examples
###is_curzon(5) ➞ True
### 2 ** 5 + 1 = 33
### 2 * 5 + 1 = 11
### 33 is a multiple of 11
###is_curzon(10) ➞ False
### 2 ** 10 + 1 = 1025
### 2 * 10 + 1 = 21
### 1025 is not a multiple of 21
###is_curzon(14) ➞ True
### 2 ** 14 + 1 = 16385
### 2 * 14 + 1 = 29
### 16385 is a multiple of 29

In [11]:
## ANS
def is_curson(n):
  x = 2**n + 1
  y = 2*n + 1
  if x%y == 0:
    print(f"{n} is a curson number -> {True}")
    print(f"2**{n} + 1 = {x}" )
    print(f"2*{n} + 1 = {y}")
    print(f"{x} is a multiple of {y}")
    print("-----------------------------------")
  else:
    print(f"{n} is not a curson number -> {False}")
    print(f"2**{n} + 1 = {x}" )
    print(f"2*{n} + 1 = {y}")
    print(f"{x} is not a multiple of {y}")
    print("-----------------------------------")
    
is_curson(5)
is_curson(10)
is_curson(14)

5 is a curson number -> True
2**5 + 1 = 33
2*5 + 1 = 11
33 is a multiple of 11
-----------------------------------
10 is not a curson number -> False
2**10 + 1 = 1025
2*10 + 1 = 21
1025 is not a multiple of 21
-----------------------------------
14 is a curson number -> True
2**14 + 1 = 16385
2*14 + 1 = 29
16385 is a multiple of 29
-----------------------------------

## Q-4 Given the side length x find the area of a hexagon.
![download.jpg]()
###Examples
###area_of_hexagon(1) ➞ 2.6
###area_of_hexagon(2) ➞ 10.4
###area_of_hexagon(3) ➞ 23.4

In [15]:
## ANS
import math
def hexagon(s):
  area = (3*math.sqrt(3) * (s**2))/2
  print(f"area of hexagon({s}) -> {round(area,1)}")
hexagon(1)
hexagon(2)
hexagon(3)

area of hexagon(1) -> 2.6
area of hexagon(2) -> 10.4
area of hexagon(3) -> 23.4

## Q-5 Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10)
##010101001(2) = 1 + 8 + 32 + 128.
##Going from right to left, the value of the most right bit is 1, now from that every bit to the left will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).
###Examples
###binary(1) ➞ &quot;1&quot;
### 1*1 = 1
###binary(5) ➞ &quot;101&quot;
### 1* 1 + 1*4 = 5
###binary(10) ➞ &quot;1010&quot;
### 1* 2 + 1*8 = 10

In [57]:
## ANS
n = int(input())
def decimal_to_binary(n):
  list1 = list()
  while n>0:
    d = n%2
    list1.append(d)
    n = n//2
  list1.reverse()
  for i in list1:
    print(i, end='')

print(f"Binary number of {n} is: ") 
decimal_to_binary(n)

10
Binary number of 10 is:
1010