##Q-1 Write a program that calculates and prints the value according to the given formula:
###Q = Square root of [(2 * C * D)/H]
###Following are the fixed values of C and H:
###C is 50. H is 30.
###D is the variable whose values should be input to your program in a comma-separated sequence.
### Example
###Let us assume the following comma separated input sequence is given to the program:
###100,150,180
###The output of the program should be:
###18,22,24

In [ ]:
## ANS
import math
C = 50
H = 30
D = list(map(int,input().split(',')))            ## takes comma seperated integer values and stores it in a list
Q = list()
for i in D:
  Q.append(round(math.sqrt((2*C*i)/H)))          ## stores the result after calculation in Q list     
for j in Q:
  print(j, end=',')

100,150,180
18,22,24,

##Q-2 Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
###Note: i=0,1.., X-1; j=0,1,Â¡Y-1.
###Example
###Suppose the following inputs are given to the program:
###3,5
###Then, the output of the program should be:
###[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
## ANS
X,Y = map(int,input().split(','))           ## takes two comma seperated integer values
result = []
for i in range(X):
  result.append([])                         ## add X number of lists inside result list
  for j in range(Y):
    result[i].append(i*j)                   ## add Y number of calculated values inside the X lists

print(result)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

## Q-3 Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
###Suppose the following input is supplied to the program:
###without,hello,bag,world
###Then, the output should be:
###bag,hello,without,world

In [ ]:
## ANS
words = list(map(str,input().split(',')))           ## takes comma seperated strings and stores it inside a list
words.sort()                                        ## sorting the list alphabatically   
print(','.join(words))

without,hello,bag,world
bag,hello,without,world

## Q-4 Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
### Suppose the following input is supplied to the program:
### hello world and practice makes perfect and hello world again
###Then, the output should be:
###again and hello makes perfect practice world

In [ ]:
## ANS
words = list(map(str, input().split()))         ## takes whitespace seperated words and stores it inside list
words1 = set(words)                             ## convert the list into set because it returns set of unique words from the list
words1 = list(words1)                           ## again converting the set into a list
words1.sort()                                   ## sorting the list alphanumerically
print(' '.join(words1))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

## Q-5 Write a program that accepts a sentence and calculate the number of letters and digits.
###Suppose the following input is supplied to the program:
###hello world! 123
###Then, the output should be:
###LETTERS 10
###DIGITS 3

In [ ]:
## ANS
a = input("Enter a sentence: ")
letters = 0
digits = 0
for i in a:
  if i.isalpha():
    letters += 1
  elif i.isdigit():
    digits += 1
  else:
    pass
print(f"LETTERS {letters}")
print(f"DIGITS {digits}")

Enter a sentence: hello world! 123
LETTERS 10
DIGITS 3

## Q-6 A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
### Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
### Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
### Example
### If the following passwords are given as input to the program:
### ABd1234@,aF1#,2w3E*,2We3345
### Then, the output of the program should be:
### ABd1234@

In [18]:
## ANS
a = list(map(str, input().split(',')))             ## takes comma seperated values and stores it inside a list
lower = 'abcdefghijklmnopqrstuvwxyz'               
upper = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
number = '0123456789'
special = '$#@'
min = 6
max = 12
l, u, n, s = 0,0,0,0                               ## initializing the count to 0 for l,u,n,s
for i in a:                                        ## iterating over values of a
  if len(i)>=min and len(i)<= max:                 
    for k in i:                                    ## iterating over each character of i
      if k.islower():
        l += 1
      elif k.isupper():
        u += 1
      elif k.isdigit():
        n += 1
      elif k in special:
        s +=1
    if (l>=1 and u>=1 and n>=1 and s>=1):          ## printing the value which satisfies the above conditions for password
      print(i)
    l, u, n, s = 0,0,0,0                           ## again initializing the count to 0 for l,u,n,s

ABd1234@,aF1#,2w3E*,2We3345,DFGsh56$@#
ABd1234@
DFGsh56$@#