## Q-1 Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
###Examples
###filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
###filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
###filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [8]:
## ANS
def filter_list(l1):
  l2 = list()
  for i in l1:
    if type(i) == int:
      l2.append(i)
  return l2

print(f"filter_list([1, 2, 3, 'a', 'b', 4]) : {filter_list([1, 2, 3, 'a', 'b', 4])}")
print(f"filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729']) : {filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])}")
print(f"filter_list(['Nothing', 'here']) : {filter_list(['Nothing', 'here'])}")

filter_list([1, 2, 3, 'a', 'b', 4]) : [1, 2, 3, 4]
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729']) : [0, 1729]
filter_list(['Nothing', 'here']) : []

## Q-2 Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to itself. This means you add 0 to the number at index 0, add 1 to thenumber at index 1, etc...
###Examples
###add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
###add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
###add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [9]:
## ANS
def add_indexes(l1):
  l2 = list()
  for i in range(len(l1)):
    l2.append(i + l1[i])
  return l2

print(f"add_indexes([0, 0, 0, 0, 0]) : {add_indexes([0, 0, 0, 0, 0])}")
print(f"add_indexes([1, 2, 3, 4, 5]) : {add_indexes([1, 2, 3, 4, 5])}")
print(f"add_indexes([5, 4, 3, 2, 1]) : {add_indexes([5, 4, 3, 2, 1])}")

add_indexes([0, 0, 0, 0, 0]) : [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) : [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) : [5, 5, 5, 5, 5]

## Q-3 Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
![Cone_geometry-231x300.png]()

###Examples
###cone_volume(3, 2) ➞ 12.57
###cone_volume(15, 6) ➞ 565.49
###cone_volume(18, 0) ➞ 0

In [10]:
## ANS
import math
def cone_volume(h,r):
  volume = (1/3)*math.pi* r**2 * h 
  return round(volume,2)

print(f"cone_volume(3, 2) : {cone_volume(3, 2)}")
print(f"cone_volume(15, 6) : {cone_volume(15, 6)}")
print(f"cone_volume(18, 0) : {cone_volume(18, 0)}")

cone_volume(3, 2) : 12.57
cone_volume(15, 6) : 565.49
cone_volume(18, 0) : 0.0

## Q-4 This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:
### 1, 3, 6, 10, 15
###This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
###Write a function that gives the number of dots with its corresponding triangle number of the sequence.
###Examples
###triangle(1) ➞ 1
###triangle(6) ➞ 21
###triangle(215) ➞ 23220

In [11]:
# ANS
def triangle(n):
  return n*(n+1)*0.5            ## formula for number of dots comes out to be n*(n+1)/2
print(f"triangle(6) : {triangle(6)}")
print(f"triangle(1) : {triangle(1)}")
print(f"triangle(215) : {triangle(215)}")

triangle(6) : 21.0
triangle(1) : 1.0
triangle(215) : 23220.0

## Q-5 Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
###Examples
###missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
###missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
###missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [12]:
## ANS
def missing_num(l1):
  for i in range(1,11):
    if i not in l1:
      return i

print(f"missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) : {missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])}")
print(f"missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) : {missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])}")
print(f"missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) : {missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])}")

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) : 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) : 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) : 7