## 1. Write a Python program to find sum of elements in list?

In [9]:
## ANS
n = int(input("Enter the number of values in the list: "))
list1 = list()
for i in range(n):
  y = float(input(f"Enter the value at {i} index: "))
  list1.append(y)
print(list1)
sum = 0
for elements in list1:
  sum += elements
print(f"Sum of list is: {sum}")

Enter the number of values in the list: 3
Enter the value: 25
Enter the value: 25
Enter the value: 25
[25.0, 25.0, 25.0]
Sum of list is: 75.0

##2. Write a Python program to Multiply all numbers in the list?

In [10]:
## ANS
n = int(input("Enter the number of values in the list: "))
list1 = list()
for i in range(n):
  y = float(input(f"Enter the value at {i} index: "))
  list1.append(y)
print(list1)
product = 1
for elements in list1:
  product *= elements
print(f"Product of list is: {product}")

Enter the number of values in the list: 3
Enter the value: 2
Enter the value: 3
Enter the value: 6
[2.0, 3.0, 6.0]
Product of list is: 36.0

##3. Write a Python program to find smallest number in a list?

In [16]:
## ANS
n = int(input("Enter the number of values in the list: "))
list1 = list()
for i in range(n):
  y = float(input(f"Enter the value at {i} index: "))
  list1.append(y)
print(list1)
sort_list =sorted(list1)
print(f"sorted list: {sort_list}")
print(f"Smallest value in the list is: {sort_list[0]}")

Enter the number of values in the list: 4
Enter the value at 0 index: 2
Enter the value at 1 index: 1
Enter the value at 2 index: 9
Enter the value at 3 index: 5
[2.0, 1.0, 9.0, 5.0]
sorted list: [1.0, 2.0, 5.0, 9.0]
Smallest value in the list is: 1.0

##4. Write a Python program to find largest number in a list?

In [18]:
## ANS
n = int(input("Enter the number of values in the list: "))
list1 = list()
for i in range(n):
  y = float(input(f"Enter the value at {i} index: "))
  list1.append(y)
print(list1)
print(f"Largest number in the list is: {max(list1)}")

Enter the number of values in the list: 5
Enter the value at 0 index: 4
Enter the value at 1 index: 2
Enter the value at 2 index: 6
Enter the value at 3 index: 9
Enter the value at 4 index: 4
[4.0, 2.0, 6.0, 9.0, 4.0]
Largest number in the list is: 9.0

##5. Write a Python program to find second largest number in a list?

In [20]:
## ANS
n = int(input("Enter the number of values in the list: "))
list1 = list()
for i in range(n):
  y = float(input(f"Enter the value at {i} index: "))
  list1.append(y)
print(list1)
sort_list = sorted(list1, reverse=True)
print(f"sorted list: {sort_list}")
second_largest = 0
for element in sort_list:
  if element < max(sort_list):
    print(f"Second largest element in the list is: {element}")
    break

Enter the number of values in the list: 5
Enter the value at 0 index: 2
Enter the value at 1 index: 4
Enter the value at 2 index: 8
Enter the value at 3 index: 7
Enter the value at 4 index: 9
[2.0, 4.0, 8.0, 7.0, 9.0]
sorted list: [9.0, 8.0, 7.0, 4.0, 2.0]
Second largest element in the list is: 8.0

##6. Write a Python program to find N largest elements from a list?

In [21]:
## ANS
list1 = [123,4545,664,23,1,3456,2345,646,578,678]
n = int(input("Enter the value of N: "))
sort_list = sorted(list1,reverse = True)
print(f"{n} largest elements in the list is: {sort_list[:n]}")

Enter the value of N: 5
5 largest elements in the list is: [4545, 3456, 2345, 678, 664]

##7. Write a Python program to print even numbers in a list?

In [22]:
## ANS
list1 = [123,4545,664,23,1,3456,2345,646,578,678]
even = list()
for element in list1:
  if element % 2 == 0:
    even.append(element)
print(f"Even number in a list are: {even}")

Even number in a list are: [664, 3456, 646, 578, 678]

##8. Write a Python program to print odd numbers in a List?

In [23]:
## ANS
list1 = [123,4545,664,23,1,3456,2345,646,578,678]
odd = list()
for element in list1:
  if element % 2 != 0:
    odd.append(element)
print(f"Even number in a list are: {odd}")

Even number in a list are: [123, 4545, 23, 1, 2345]

##9. Write a Python program to Remove empty List from List?

In [27]:
## ANS
list1 = [5, 6, [], 3, [], [], 9]
print(f"The original list is : {list1}")
element = list()
for ele in list1:
   if ele != []:
     element.append(ele)
print(f"List after empty list removal : {element}")

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

##10. Write a Python program to Cloning or Copying a list?

In [28]:
## ANS
list1 = [123,4545,664,23,1,3456,2345,646,578,678]
print(f"List before cloning is: {list1}")
list_copy = list()
for i in list1:
  list_copy.append(i)
print(f"List after cloning is: {list_copy}")

List before cloning is: [123, 4545, 664, 23, 1, 3456, 2345, 646, 578, 678]
List after cloning is: [123, 4545, 664, 23, 1, 3456, 2345, 646, 578, 678]

##11. Write a Python program to Count occurrences of an element in a list?

In [31]:
## ANS
list1 = [1,5,5,4,7,8,9,1,2,4,4,5,6,3,1,4,7]
x = int(input("Enter the number: "))
y = list1.count(x)
print(f"{x} has occured ({y}) times in the list")

Enter the number: 4
4 has occured (4) times in the list